<footer>
    <div class="footer-header">
        <img class="location-icon" src="../../../favicon.ico">
        <p class="location-text">123456, г. Тавима, ул. Морская, д. 21</p>
        <a href="#main"><img class="footer-logo" src="../../../favicon.ico"></a>
        <img class="phone-icon" src="../../../favicon.ico">
        <p class="phone-number">+7 (123) 456-67-89</p>
        <img class="message-icon" src="../../../favicon.ico">
        <p class="message-user-name">ordervisma.ru</p>
    </div>
    <div class="footer-body">
        <div class="information">
            <p class="information-header">ИНФОРМАЦИЯ О ЮР. ЛИЦЕ <br><br></p>
            <p class="information-text">
                ОГРН 11111111111111111 <br>
                ИНН 2222222222222 <br>
                КПП 3333333333333 <br>
                ОКПО 44444444444 ОКВЭД 52.24 <br>
                ОКТМО 5555555555555
            </p>
        </div>
        <div class="bought">
            <p class="information-header">ЗАКУПКИ<br><br></p>
            <p class="information-text">
                Нормативные документы <br>
                Закупки на VISMA Order <br>
                Закупки на VISMA Tender
            </p>
        </div>
        <div class="auksions">
            <p class="information-header">АКЦИОНЕРАМ<br><br></p>
            <p class="information-text">
                Устав VISMA <br>
                Свидетельства госрегистрации <br>
                Список аффилированных лиц <br>
                Информация <br>
                Отчеты
            </p>
        </div>
        <div class="company">
            <p class="information-header">О КОМПАНИИ<br><br></p>
            <p class="information-text">
                Порт сегодня <br>
                Характеристики порта <br>
                История <br>
                Дипломы и награды <br>
                Транспортная безопасность <br>
                Экология <br>
                Правовая информация
            </p>
        </div>
        <p class="all-rights">ВСЕ ПРАВА ЗАЩИЩЕНЫ АО VISMA</p>
    </div>
</footer>

